.App {

}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1, h2 {
  padding-left: 35px;
  color: white;
}



input {
  border: 1px solid #999;
  padding-left: 10px;
  height: 30px;
  width: 200px;
  border-radius: 4px;
}

.Dashboard {
  display: flex;
}

.title-search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search {
  /* padding-right: 30px; */
  /* padding-left: 20px; */
}

.NoticeList {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
}

.NoticeTable {
  background-color: #ebf5fb;
  /* margin-top: 20px; */
  background-color: #ebf5fb;
  border: 1px solid darkblue;
  box-shadow: 10px 10px 13px -4px #001f3f;
}

button {
  margin-left: 10px;
}

.NewNotice {
  background-color: #ebf5fb;
  width: 20em;
  text-align: center;
  padding: 30px 5px 5px 5px;
  margin: 68px 30px 0 0;
  border: 1px solid darkblue;
  box-shadow: 10px 10px 13px -4px #001f3f;
  height: 380px;
}

.new-notice-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.new-notice-form input {
  margin: 5px;
}

.new-notice-form input[type="submit"] {
  margin-top: 20px;
  background-color: #217dbb;
  color: white;
  border: none;
  font-weight: bold;
  width: 90px;
}

.BlockchainLog {
  background-color: #ebf5fb;
  border: 1px solid darkblue;
  box-shadow: 10px 10px 13px -4px #001f3f;
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}

.message {
  padding: 10px;
}

.message-time {
  padding-right: 10px;
  font-weight: bold;
}

.app-footer {
  padding: 0 0 10px 10px;
}